* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

header {
  background-color: rgba(255, 236, 185, 1); 
}

li {
  font-size: 30px;
  color: #6658D3;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 46px;
  color: #6658D3;
}

.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
  color: #6658D3;
}

.nav-link:hover {
  color: #1e00ff;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #6658D3;
}

.bar {
  display: block;
  width: 25px;
  margin: 5px auto;
  height: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6658D3;
}

@media(max-width:768px) {
  .hamburger {
      display: block;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active {
      z-index: 102;
  }

  .branding {
      z-index: 102;
  }

  .nav-menu {
      position: fixed;
      left: -100%;
      top: 0;
      gap: 0;
      flex-direction: column;
      background-color: rgba(234,229,217,0.8); 
      width: 100vw;
      height: 100vh;
      text-align: center;
      transition: left 0.3s;
      justify-content: center;
      z-index: 101;
  }

  .nav-item {
      margin: 16px 0;
  }

  .nav-menu.active {
      left: 0;
  }
}