* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-content {
    margin: 175px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1000px; 
    box-sizing: border-box;
    height: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}


.login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
}

.headings {
    text-align: left;
    margin-bottom: 1rem;
}

.headings h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.headings h3 {
    color: grey;
    font-weight: 300;
}

.headings a {
    color: #6658D3;
    font-weight: 300;
}

.headings a:hover {
    text-decoration: underline;
}

.form-input input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.remember-me input[type="checkbox"] {
    margin-right: 0.5rem;
}


.btn .submit-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #6658D3;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn .submit-btn:hover {
    background-color: #5848C2;
}


.forgot-pwd {
    margin-left: 7rem;
    color: #6658D3;
    text-decoration: none;
}

.forgot-pwd:hover {
    text-decoration: underline;
}

.username label {
    margin-left: -255px;
}

.label {
    padding-bottom: 10px;
}

.login-img img {
    width: 400px;
    padding-left: 40px;
    
}

.media-placeholder {
    width: 100%;
    height: 200px; 
    background-color: #ddd; 
    margin-top: 2em;
  }