* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.signup-page {
    margin: 175px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1000px; 
    box-sizing: border-box;
    height: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.signup-form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
}

.signup-heading {
    text-align: left;
    margin-bottom: 1rem;
}

.signup-heading h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.signup-heading h3 {
    color: grey;
    font-weight: 300;
}

.signup-heading a {
    color: #6658D3;
    font-weight: 300;
}

.signup-heading a:hover {
    text-decoration: underline;
}

.signup-input input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-label {
    padding-bottom: 10px;
    text-align: left;
}